body {
    background-color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 5px;
}

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltiptext {
      font-size: 30%;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .sources {
      font-size: 1px;
  }

  .b2 {
      color:coral;
  }
  .b3 {
    color:red;
}